.container {
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100dvh - 64px);
}

.card {
    border: 2px solid #E0E9FF;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
}

.title {
    font-size: 32px;
    color: #34498B;
    margin-bottom: 16px;
}

.cardTitle {
    font-weight: 100;
    font-size: 18px;
    font-weight: 100;
}

.cardProgress {
    border: 2px solid #E0E9FF;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 250px;

}

.progressBar {
    height: 150%;
    width: 150%;
    margin-top: 16px;
    font-weight: bold;
}

.progressBarComp {
    height: 150%;
    width: 150%;
    font-weight: bold;
    transform: translateY(64px);
    z-index: 1;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px 32px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    background-color: #34498B;
    color: #F4F7FF;
    height: 64px;
    justify-content: center;
    margin-bottom: 8px;
    cursor: pointer;
    z-index: 2;
}

.buttonSecondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px 32px;
    border-radius: 4px;
    border: 2px solid #E0E9FF;
    outline: 0;
    background-color: #F4F7FF;
    color: #1B1B1B;
    height: 64px;
    justify-content: center;
    margin-bottom: 8px;
    cursor: pointer;
    z-index: 2;
}

.buttonTop {
    font-weight: bold;
    font-size: 18px;
}

.buttonBottom {
    font-size: 14px;
}

.info {
    max-width: 1024px;
    width: 100%;
}

.actions {
    max-width: 1024px;
    width: 100%;
}



.cardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.sliderButton {
    background-color: transparent;
    color: #34498B;
    outline: 0;
    border: 0;
}